@import "vars";

.accordion {
  width: 240px;
}
.accordion-item {
  width: 240px;
  margin-bottom: 18px;
}

.accordion-button {
  padding: 11px;
  border-left: 5px solid $color_special;
  border-bottom: 1px solid #ebebeb;
  height: 37px;
  position: relative;
}

.accordion-button:focus {
  border-left: 5px solid $color_special;
  border-bottom: 1px solid #ebebeb;
}


* {
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  text-decoration: none;
  color: #222222;
}

.button,
.form__browse,
.input {
  height: 100%;
}

.button:hover {
  border: 1px solid darkviolet;
  color: darkviolet;
  background-color: #ccc;
}


.button__my-account {
  background-color: #f16d7f;
  margin-left: 26px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.17);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__left {
  display: flex;
  align-items: center;
}

.bran {
  font-family: 'Lato', sans-serif;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  margin-left: 13px;
}

.d {
  font-weight: 900;
  color: #f16d7f;
}

.item {
  height: 350px;
  width: 350px;
  border: 1px solid #000;
  align-items: center;
  justify-content: center;
  display: flex;
}


.logo {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  height: 38px;
  margin-left: 37px;
}

.form__browse {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdcdcc;
  background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
}

.form__browse__content {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.form__browse__content__text {
  float: left;
}

.form__browse__content__triangle {
  float: right;
  padding-left: 14px;
  padding-right: 9px;
}

.input {
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  width: 317px;
  padding: 16px;
}

.button__search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.header__right {
  display: flex;
}

.cart {
  width: 32px;
  height: 29px;
  align-self: flex-end;
}

.button__my-account {
  margin-left: 26px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  width: 130px;
  height: 38px;
}

.button__my-account__content {
  display: flex;
  padding: 11px 11px 11px 19px;
}


.button__my-account__triangle {
  margin-left: 8px;
}


.navigation-top {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
}

.menu-list {
  list-style-type: none;
  padding: 19px 24px;
  position: relative;
}

.top-item {
  height: 613px;
  background-color: #e8e8e8;
}

.top-item__box {
  background-image: url(../img/top_back.jpg);
  background-repeat: no-repeat;
  background-position: -200px -51px;
  height: 100%;
}

.top-item__content {
  padding-top: 224px;
  display: flex;
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.top-item__content__text {
  border-left: 12px solid #f16d7f;
  color: #222222;
  padding-left: 12px;
}

.top-item__content__text__the-brand {
  font-size: 60px;
  line-height: 44px;
}

.top-item__content__text__of-luxerious {
  font-size: 40px;
  line-height: 36px;
  padding-top: 15px;
}

.top-item__content__text__the-fashion {
  font-size: 40px;
  color: #f16d7f;
}

.categories-item {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.categories-item__column {
  width: 100%;
}

.right-column {
  margin-left: 20px;
}

.men {
  background-image: url("../img/men.jpg");
  background-repeat: round;
  height: 542px;
}

.accesories {
  background-image: url("../img/accesories.jpg");
  background-repeat: round;
  height: 261px;
  margin-top: 20px;
}

.women {
  background-image: url("../img/women.jpg");
  background-repeat: round;
  height: 261px;
}

.kids {
  background-image: url("../img/kids.jpg");
  background-repeat: round;
  height: 542px;
  margin-top: 20px;
}

.item-heading {
  margin: 100px auto 0;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  width: 195px;
}

.desc {
  width: 350px;
  margin: 5px auto 60px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}


.item-sec {
  margin-bottom: 200px;
}

.item-link {
  display: block;
  width: 263px;
}

.txt-box {
  padding: 19px 14px;
}

.item-desc {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: $color_regular;
}

.item-price {
  margin-top: 17px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.item-box {
  position: relative;
  margin-bottom: 40px;
}

.item-box:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  width: 263px;
}
.item-relative {
  position: relative;
}
.item-pic {
  width: 100%;
}
.item-filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
$card-filter: rgba(58,56,56,0.83);

.item-box:hover .item-filter {
  background-color: $card-filter;
}


.add {
  display: flex;
  padding: 8px;
  align-items: center;
  border: 1px solid #fff;
  pointer-events: auto;
}

.add-box {
  display: none;
  justify-content: center;
  position: absolute;
  top: 98px;
  width: 100%;
  pointer-events: none;
  z-index: 3;
}

.add-desc {
  margin-left: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
}

.add:hover {
  box-shadow: 0 0 10px #fff;
}

.item-box:hover .add-box {
  display: flex;
}

.item-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-card {
  padding-top: 20px;
  margin-top: 20px;
}

.item-text {
  display: inline-block;
  padding: 16px 18px;
  background-color: #fff;
  font-family: Lato,sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.category-text {
  font-size: 30px;
  color: #f16d7f;
}

.mega-box {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 20px;
  position: absolute;
  top: 54px;
  display: none;
}

.mega-heading {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #232323;
  line-height: 32px;
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  margin-bottom: 16px;
}

.mega-link {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #646464;
  text-transform: none;
  line-height: 28px;
}

.mega-link:hover {
  color: #f16d7f;
}

.mega-item {
  margin-right: 46px;
}

.mega-item:last-of-type {
  margin-right: 0;
}

.mega-box:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  top: -5px;
  left: 12px;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.menu-list:hover .mega-box {
  display: flex;
}

.last:hover .mega-box {
  right: 0;
  left: auto;
}

.last:hover .mega-box:before {
  right: 75px;
  left: auto;
}


.banner-for-women {
  margin-top: 113px;
  margin-bottom: 100px;
  height: 529px;
  background-color: #222224;
  display: flex;
}

.for-women__left {
  width: 767px;
  background-image: url("../img/banner_women.jpg");
  position: relative;
  z-index: 2;
}

.for-women__cover {
  background-image: url("../img/banner_women_back.png");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.for-women__info {
  padding-left: 40px;
  padding-top: 146px;
  font-family: 'Lato', sans-serif;
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.for-women__offer {
  color: #f16d7f;
}

.for-women__for-women {
  font-size: 32px;
}

.for-women__right {
  background-color: #222224;
}



.icons__heading {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
.icons__heading__for-women {
  margin-bottom: 11px;
}
.icons__description {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}


.for-women__block {
  display: flex;
  margin-top: 40px;
}

.for-women__content {
  padding: 28px 36px;
}

.for-women__description {
  width: 230px;
}

.lorry {
  width: 45px;
  height: 32px;
}
.lorry__margin {
  margin-right: 36px;
}
.percent {
  width: 40px;
  height: 40px;
}
.percent__margin {
  margin-right: 40px;
}

.crown {
  width: 47px;
  height: 35px;
}

.crown__margin {
  margin-right: 33px;
}
.feedback {
  width: 100%;
  height: 438px;
  background-image: url("../img/beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.feedback__cover {
  display: flex;
  position: absolute;
  background-image: url(../img/beach_back.png);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.feedback__left {
  width: 50%;
  border-right: 1px solid #fff;
}

.feedback__info {
  margin: 111px 230px;
  display: flex;
}

.feedback__photo {
  margin-right: 28px;
  width: 83px;
  height: 83px;
}

.feedback__text {
  width: 420px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}

.feedback__name {
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.feedback__place {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.subscribe__text {
  margin-top: 150px;
  margin-left: 150px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

.for-our-newletter {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.subscribe__form {
  margin-top: 35px;
  margin-left: 90px;
  display: flex;
}

.subscribe__input {
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  border: none;
  padding: 0 30px;
}


.subscribe__button {
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__word {
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.about {
  margin-top: 110px;
  margin-bottom: 90px;
  height: 260px;
  display: flex;
}

.about__right {
  margin-left: 64px;
}

.about__categories {
  display: flex;
}

.about__information {
  margin-left: 130px;
  margin-right: 80px;
}


.about__text {
  width: 430px;
  height: 180px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.about__paragraph {
  margin-bottom: 40px;
  margin-top: 30px;
}

.about__heading {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 45px;
}

.about__link {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  margin-bottom: 30px;
}


.footer {
  height: 80px;
  background-color: #e6e6e6;
}

.flex-copyright {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.footer__link-box {
  display: flex;
}
.bottom__link {
  height: 32px;
  width: 32px;
  display: flex;
}

.facebook-link {
  background-color: #f16d7f;
}

.fa-facebook-f {
  background-color: #ffffff;
  color: #b2b2b2;
}

.fa-twitter {
  color: #f7f7f8;
  background-color: #f16d7f;
}

.fa-linkedin-in {
  color: #b2b2b2;
  background-color: #ffffff;
}

.fa-pinterest-p {
  color: #b2b2b2;
  background-color: #ffffff;
}

.fa-google-plus-g {
  color: #b2b2b2;
  background-color: #ffffff;
}

.new-arrivals-back {
  background-color: #f8f3f4;
  width: 100%;
}
.new-arrivals {
  height: 148px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.arrivals-big {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.arrivals-small {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.small-new-arrivals {
  font-weight: 700;
  color: #f16d7f;
}